<h1> liste de Supercars</h1>

<div class="container">
  <div class="row">


     <div *ngFor="let Vehicule of vehiculesList" class="col m4 s6" >

      <div class="card horizontal"  vhclBorderCard = purple  >

          <div class="card-image">
            <img [src]="Vehicule.picture" alt="image non chargée" />
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <p>{{Vehicule.model}}</p>
              <p>{{Vehicule.speed }} km/h</p>

              <p>{{Vehicule.created | date:"dd/MM/yyy" }}</p>
              <span
               class="{{ Vehicule.make | vehiculeMakeColor}}">
               {{ Vehicule.make }}

              </span>
            </div>
          </div>


        </div>

      </div>

     </div>

  </div>






